/* 歸零用 */
/* * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box; 
         -box-sizing: border-box;
} */

/* 底版顏色 */
body{
  background : #f3eddb;
}

/* 全版面數值 */
#main {
  max-width: 600px;
  margin: 0 auto;
}

h1{
    text-align: center;
}

/* 第一行input部分 */
/* 外框 */
#write {
  /* display: block; */
  /* border: 0; */
  height: 50px;
}

/* 左至右三區塊 */
#sel_id {
  /* margin-left: 13px; */
  top: 0.5rem;
  left: 0.5rem;
}

textarea {
    margin-left: 15%;
    height: 2.5rem;
    width: 70%;
    border-radius: 5px;
    border: none;
}

#input {
  /* margin-left: 465px; */
  top: 0.5rem;
  right: 0.5rem;
}

/* 各行顯示列外框 */
#myApp {
  max-width: 600px;
}
/* 各行外框 */
ul{
  /* width: 600px; */
}

/* 各行由左至右 */
input {
    margin-left: -1rem;
    margin-right: 0.8rem;
}

span {
  width: 70%;
  margin-left: 7%;
  text-align: center;
}

ul button {
  right: 0.5rem;
}
